@use "../utilities" as *;

/** Buttons CSS */

// .cp-primary-btn {
//     background-color: var(--cp-color-theme-primary);
//     font-family: var(--cp-ff-heading);
//     color: var(--cp-color-common-white);
//     display: inline-flex;
//     align-items: center;
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 1;
//     padding: 21px 35px;
//     border-radius: 100px;
//     transition: all 0.3s ease-in-out;
//     overflow: hidden;
//     text-transform: uppercase;
//     position: relative;
//     z-index: 1;
//     @include breakpoint(sm){
//         padding: 20px 30px;
//     }
//     &:hover {
//         background-color: var(--cp-color-heading-primary);
//         color: var(--cp-color-common-white);
//     }
//     &:focus{
//         color: var(--cp-color-heading-primary);
//     }
// }


.cp-primary-btn {
    background-color: var(--cp-color-theme-primary);
    font-family: var(--cp-ff-heading);
    color: var(--cp-color-common-white);
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 21px 35px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--cp-color-heading-primary);
        -webkit-transform-origin: right center;
        -moz-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        -o-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: -1;
    }
    .icon{
        background-color: var(--cp-color-common-white);
        color: var(--cp-color-common-black);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        @include flex-center;
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
    }
    i{
        font-size: 14px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
        margin-left: 10px;
    }
    &:hover {
        color: var(--cp-color-common-white);
        &:before{
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -ms-transform-origin: left center;
            transform-origin: left center;
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        i{
            transform: rotate(0deg);
        }
        .icon{
            background-color: var(--cp-color-theme-primary);
        }
    }
    &:focus{
        color: var(--cp-color-text-black);
    }
    &.transparent{
        background-color: transparent;
        border: 1px solid var(--cp-color-theme-primary);
        color: var(--cp-color-heading-primary);
        &:hover{
            color: var(--cp-color-common-white);
        }
        &:before{
            background-color: var(--cp-color-theme-primary);
        }
    }
}