@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/

.post-card {
    .post-thumb {
        position: relative;
        height: 350px;
        overflow: hidden;
        margin-bottom: 20px;
        &:after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;    
            transform: scale3d(1, 1, 1);
            transition: transform 1s ease-in-out;
        }
        .post-meta{
            position: absolute;
            bottom: 24px;
            left: 24px;
            li{
                font-family: var(--cp-ff-body);
                background-color: var(--cp-color-common-white);
                color: var(--cp-color-heading-primary);
                padding: 10px 20px;
                border-radius: 100px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
    .post-content {
        .title {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 30px;
            @include breakpoint(sm){
                font-size: 18px;
            }
            a {
                background: linear-gradient(var(--cp-color-theme-primary) 0%, var(--cp-color-theme-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.4s ease-in-out);
                &:hover {
                    color: var(--cp-color-theme-primary);
                    background-size: 100% 2px;
                }
            }
        }
        .read-more{
            font-family: var(--cp-ff-heading);
            color: var(--cp-color-heading-primary);
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            @include flex-vertical-center;
            column-gap: 10px;
            @include transition(all 0.4s ease-in-out);
            i{
                transform: rotate(-45deg);
                @include transition(all 0.4s ease-in-out);
            }
            &:hover{
                color: var(--cp-color-theme-primary);
                i{
                    transform: rotate(0);
                }
            }
        }
    }
    &:hover{
        .post-thumb{
            &:after{
                left: 0;
                right: 0;
                opacity: 0;
            }
            img{
                transform: scale(1.04) rotate(0deg);
            }
        }
    }
}

.post-card-2{
    .post-thumb{
        height: 450px;
    }
    .post-content{
        .post-meta{
            margin-bottom: 15px;
            li{
                color: var(--cp-color-heading-primary);
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;
                line-height: 1;
                &:not(:last-of-type){
                    margin-right: 25px;
                    &:before{
                        color: var(--cp-color-heading-primary);
                        content: "-";
                        position: absolute;
                        top: 46%;
                        right: -16px;
                        transform: translateY(-50%);
                        font-size: 18px;
                    }
                }
            }
        }
        .title{
            font-family: var(--cp-ff-heading-2);
            font-size: 36px;
            font-weight: 500;
            @include breakpoint(lg){
                br{
                    display: none;
                }
            }
        }
        .read-more{
            i{
                color: var(--cp-color-theme-primary)
            }
        }
    }
}

.post-card-3{
    .post-thumb{
        height: 350px;
    }
    .post-content{
        .title{
            font-size: 28px;
        }
    }
}

.post-meta {
    @include flex-vertical-center;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    li {
        font-family: var(--cp-ff-heading);
        color: #C8C8CD;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        @include flex-vertical-center;
        line-height: 1;
        
        i{
            font-size: 14px;
        }
        &:not(:last-of-type){
            margin-right: 15px;
        }
        a {
            &:hover {
                color: var(--cp-color-theme-primary);
            }
        }
        @include breakpoint(sm){
            font-size: 12px;
        }
    }
}

// Inner Post

.post-inner-card-wrap{
    padding-right: 25px;
    @include breakpoint(md){
        margin-bottom: 50px;
        padding-right: 0;
    }
}

.inner-post{
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    .post-thumb{
        height: 500px;
        margin-bottom: 30px;
        border-radius: 16px;
        overflow: hidden;
        @include breakpoint(md){
            height: 400px;
        }
        @include breakpoint(sm){
            height: 300px;
        }
    }
}

.pagination-wrap{
    @include flex-vertical-center;
    list-style: none;
    column-gap: 10px;
    li{
        a{
            background-color: transparent;
            color: var(--cp-color-heading-primary);
            font-weight: 700;
            height: 50px;
            width: 50px;
            font-size: 18px;
            font-weight: 500;
            @include flex-center;
            line-height: 1;
            border: 1px solid #ADADAD;
            border-radius: 50%;
            &:hover{
                background-color: var(--cp-color-theme-primary);
                color: var(--cp-color-common-white);
                border: 1px solid var(--cp-color-theme-primary);
            }
        }
        .active{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-common-white);
            border: 1px solid var(--cp-color-theme-primary);
        }
    }  
}

/* !END: Theme Blog CSS */
