@use "../utilities" as *;

/**----------------------------------------
    START: Consult CSS
----------------------------------------*/

.consult-section{
    background-color: var(--cp-color-heading-primary);
    position: relative;
    z-index: 1;
    .bg-img{
        @include background;
        width: 45%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @include breakpoint(md){
            width: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.consult-content{
    padding: 150px 0;
    @include breakpoint(lg){
        padding: 70px 0;
    }
    .consult-img-wrap{
        display: grid;
        grid-template-columns: 308px 1fr;
        grid-gap: 60px;
        @include breakpoint(lg){
            grid-template-columns: 1fr;
        }
        @include breakpoint(md){
            grid-template-columns: 308px 1fr;
        }
        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }
        .consult-img{
            height: 380px;
            max-width: 308px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .img-content{
            p{
                color: var(--cp-color-common-white);
                font-size: 20px;
                margin-bottom: 45px;
            }
            .consult-btn{
                margin-bottom: 90px;
                @include breakpoint(lg){
                    margin-bottom: 40px;
                }
            }
            .counter-content{
                .title{
                    color: var(--cp-color-common-white);
                    font-family: var(--cp-ff-heading-2);
                    font-size: 64px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    line-height: 1;
                    margin-bottom: 0;
                    .odometer-auto-theme{
                        font-family: inherit;
                        line-height: 1;
                    }
                }
                p{
                    font-family: var(--cp-ff-heading-2);
                    color: var(--cp-color-common-white);
                    margin-bottom: 0;
                    font-weight: 500;
                }
            }
        }
    }
}

.video-img-area{
    height: 900px;
    width: 100%;
    overflow: hidden;
    @include breakpoint(md){
        height: 600px;
    }
    @include breakpoint(sm){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.inner-video{
        height: 800px;
        overflow: hidden;
    }
}

/* !END: Consult CSS */
