@use "../utilities" as *;

/**----------------------------------------
    START: Feature CSS
----------------------------------------*/

.feature-content-left{
    @include breakpoint(md){
        margin-bottom: 50px;
    }
    .desc{
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 180px;
        @include breakpoint(md){
            margin-bottom: 50px;
        }
    }
    .feature-counter{
        display: grid;
        align-items: center;
        grid-template-columns: 150px 1fr;
        grid-gap: 24px;
        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }
        .counter-content{
            .title{
                font-size: 70px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 1;
                @include flex-vertical-center;
                .odometer-auto-theme{
                    font-family: inherit;
                    line-height: 1;
                }
            }
            p{
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }
}

.feature-right-content{
    .feature-img{
        max-width: 844px;
        width: 100%;
        height: 380px;
        margin-bottom: 40px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .feature-item-wrap{
        @include flex-vertical-center;
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 30px;
        }
        .feature-item{
            &:not(:last-of-type){
                margin-right: 40px;
                padding-right: 40px;
                border-right: 1px solid #EDECE8;
                @include breakpoint(md){
                    margin-right: 40px;
                    padding-right: 20px;
                }
                @include breakpoint(sm){
                    margin-right: 0;
                    padding-right: 0;
                    border: none;
                }
            }
            .icon{
                background: rgba(252, 90, 17, 0.1);
                height: 80px;
                width: 80px;
                border-radius: 50%;
                @include flex-center;
                margin-bottom: 30px;
            }
            .content{
                .title{
                    font-size: 28px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 18px;
                    margin-bottom: 0;
                    @include breakpoint(xl){
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* !END: Feature CSS */
