@use "../utilities" as *;

/**----------------------------------------
    START: Hero CSS
----------------------------------------*/

.hero-section{
    background-color: var(--cp-color-heading-primary);
    position: relative;
    z-index: 1;
    .bg-shape{
        position: absolute;
        top: 88px;
        right: 30px;
        z-index: -1;
    }
}

.hero-wrap{
    padding-bottom: 100px;
}

.hero-content{
    padding: 180px 0 0 0;
    .hero-title-wrap{
        position: relative;
        .hero-author-list{
            @include flex-vertical-center;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include breakpoint(sm){
                display: none;
            }
            li{
                height: 87px;
                width: 87px;
                @include flex-center;
                border-radius: 50%;
                &:not(:first-of-type){
                    margin-left: -10px;
                }
            }
        }
    }
    .title{
        font-family: var(--cp-ff-heading-2);
        color: var(--cp-color-common-white);
        font-size: 120px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 75px;
        @include breakpoint(md){
            font-size: 80px;
            line-height: 1.2;
        }
        @include breakpoint(sm){
            font-size: 45px;
        }
        .inner-text{
            padding-left: 260px;
            @include breakpoint(sm){
                padding-left: 0;
            }
        }
    }
    .hero-bottom{
        width: 100%;
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 40px;
        flex-wrap: wrap;
        row-gap: 30px;
        .left-content{
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-gap: 20px;
            .icon{
                background-color: var(--cp-color-theme-primary);
                color: var(--cp-color-common-white);
                height: 70px;
                width: 70px;
                border-radius: 50%;
                @include flex-center;
                font-size: 30px;
            }
            .award{
                color: var(--cp-color-common-white);
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 0;
                span{
                    text-transform: capitalize;
                    font-family: var(--cp-ff-pp);
                    display: block;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
        .right-content{
            p{
                font-family: var(--cp-ff-heading-2);
                color: var(--cp-color-common-white);
                font-size: 24px;
                margin-bottom: 40px;
            }
            .cp-primary-btn{
                &:before{
                    background-color: var(--cp-color-common-white);
                }
                &:hover{
                    color: var(--cp-color-heading-primary);
                }
            }
        }
    }
}

.hero-img{
    width: 100%;
    height: 900px;
    overflow: hidden;
    border: 16px solid var(--cp-color-heading-primary);
    border-top: none;
    @include breakpoint(lg){
        height: 600px;
    }
    @include breakpoint(sm){
        height: 450px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

// Hero 2

.hero-section-2{
    position: relative;
    z-index: 1;
    .bg-img{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &:before{
            background-color: rgba(0, 0, 0, 0.64);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.hero-content-2{
    padding: 560px 0 120px 0;
    @include flex-vertical-center;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 40px;
    @include breakpoint(md){
        padding: 400px 0 80px 0;
    }
    @include breakpoint(sm){
        padding: 100px 0 80px 0;
    }
    .title{
        color: var(--cp-color-common-white);
        font-size: 120px;
        font-weight: 500;
        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 1;
        @include breakpoint(md){
            font-size: 80px;
            line-height: 1.2;
        }
        @include breakpoint(sm){
            font-size: 48px;
        }
    }
}

/* !END: Hero CSS */
