@use "../utilities" as *;

/**----------------------------------------
    START: Project CSS
----------------------------------------*/

.project-wrap{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @include breakpoint(md){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        padding: 0 24px;
    }
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
}

.project-item{
    .project-thumb{
        height: 100%;
        width: 100%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a{
            background-color: var(--cp-color-common-white);
            height: 70px;
            width: 70px;
            border-radius: 100px;
            @include flex-center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
        }
    }
    &:hover{
        .project-thumb{
            a{
                transform: translate(-50%, -50%) scale(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &.item-1{
        margin-top: auto;
    }
    &.item-1,
    &.item-3{
        max-width: 500px;
        width: 100%;
        height: 550px;
        @include breakpoint(lg){
            height: 450px;
        }
        @include breakpoint(sm){
            height: 350px;
        }
    }
    &.item-2{
        max-width: 900px;
        width: 100%;
        height: 876px;
        @include breakpoint(xl){
            height: 680px;
        }
        @include breakpoint(lg){
            height: 580px;
        }
        @include breakpoint(md){
            height: 450px;
        }
        @include breakpoint(sm){
            height: 350px;
        }
    }
}

// Project 2

.project-item-2{
    .project-thumb{
        width: 100%;
        height: 700px;
        overflow: hidden;
        @include breakpoint(lg){
            height: 500px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .project-content{
        @include flex-vertical-center;
        column-gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(173, 173, 173, 0.4);
        @include transition(all 0.3s ease-in-out);
        .title{
            font-family: var(--cp-ff-heading-2);
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 0;
            span{
                margin-top: 10px;
                font-size: 16px;
                display: block;
            }
        }
        .arrow{
            color: var(--cp-color-heading-primary);
            font-size: 22px;
            transform: rotate(-45deg);
        }
    }
    &:hover{
        .project-content{
            border-color: var(--cp-color-theme-primary);
        }
    }
}

// Project 3

.project-carousel-wrap{
    margin-top: -100px;
}

.project-carousel{
    max-width: 1216px;
    width: 100%;
    margin-left: 0;
    overflow: visible;
}

.project-item-3{
    .project-thumb{
        height: 620px;
        transform: translateY(100px);
        position: relative;
        z-index: 5;
        @include transition(all 0.3s ease-in-out);
        @include breakpoint(md){
            height: 450px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .project-content{
        padding-top: 25px;
        .title{
            font-family: var(--cp-ff-heading-2);
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 0;
            text-transform: uppercase;
            @include breakpoint(md){
                font-size: 26px;
            }
            @include breakpoint(md){
                font-size: 22px;
            }
        }
        span{
            display: block;
            margin-top: 5px;
            font-size: 16px;
            position: relative;
            padding-left: 30px;
            text-transform: uppercase;
            &:before{
                background-color: var(--cp-color-heading-primary);
                content: "";
                width: 24px;
                height: 1.5px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &:hover{
        .project-thumb{
            transform: translateY(0);
        }
    }
}

.portfolio-details{
    .details-title{
        font-family: var(--cp-ff-heading);
        font-size: 56px;
        font-weight: 500;
        margin-bottom: 0;
        margin-bottom: 30px;
    }
}

.project-details-content{
    p{
        font-size: 20px;
    }
    .project-details-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin-bottom: 45px;
        li{
            color: var(--cp-color-heading-primary);
            font-size: 18px;
            font-weight: 500;
            @include flex-vertical-center;
            column-gap: 10px;
        }
    }
}


/* !END: Project CSS */
