@use "../utilities" as *;

/**----------------------------------------
    START: Process CSS
----------------------------------------*/

.process-left-content{
    .process-img{
        max-width: 620px;
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.process-item-wrap{
    position: relative;
    z-index: 1;
    .line{
        height: 90%;
        border-left: 1px dashed #3C5240;
        position: absolute;
        top: 0;
        left: 19px;
        z-index: -1;
    }
    .process-item{
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 65px;
        &:not(:last-of-type){
            margin-bottom: 100px;
        }
        .number{
            font-family: var(--cp-ff-heading-2);
            background-color: #F1EEE9;
            color: var(--cp-color-heading-primary);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid #adadad;
            font-size: 14px;
            font-weight: 500;
            @include flex-center;
        }
        .title{
            font-family: var(--cp-ff-heading-2);
            color: var(--cp-color-heading-primary);
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
}

/* !END: Process CSS */
