@use "../utilities" as *;

/**----------------------------------------
    START: Slider CSS
----------------------------------------*/

.buildfix-slider{
    .slider-item{
        position: relative;
        z-index: 1;
        .bg-img{
            @include background;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            &:before{
                background-color: var(--cp-color-common-black);
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.56;
            }
        }
    }
}

.slider-container{
    max-width: 1725px;
    margin: 0 auto;
    width: 100%;
}

.slider-content-wrap{
    padding: 600px 0 80px 0;
    @include breakpoint(md){
        padding-top: 400px;
    }
    @include breakpoint(md){
        padding-top: 300px;
    }
    .buildfix-caption{
        .slider-title{
            color: var(--cp-color-common-white);
            font-size: 220px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            @include breakpoint(md){
                font-size: 120px;
            }
            @include breakpoint(sm){
                font-size: 50px;
                margin-bottom: 0;
            }
            span{
                font-size: 100px;
                font-weight: 700;
                display: block;
                line-height: 1;
                margin-bottom: -10px;
                @include breakpoint(md){
                    font-size: 60px;
                    margin-bottom: 10px;
                }
                @include breakpoint(sm){
                    font-size: 40px;
                }
            }
        }
    }
}

/* Text Animation */
.buildfix-animation,
.buildfix-animation span {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.buildfix-animation span {
    display: inline-block;
}

/* Fade Effect */
.buildfix-fadeIn {
    animation-name: asFadeIn;
}

@keyframes asFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buildfix-fadeInLeft {
    animation-name: asFadeInLeft;
}

@keyframes asFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
    }
}

.buildfix-fadeInRight {
    animation-name: asFadeInRight;
}

@keyframes asFadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
    }
}

.buildfix-fadeInDown {
    animation-name: asFadeInTop;
}

@keyframes asFadeInTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
    }
}

.buildfix-fadeInUp {
    animation-name: asFadeInBottom;
}

@keyframes asFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
    }
}

/* Move From Effect */
.buildfix-moveFromLeft {
    animation-name: asMoveFromLeft;
}

@keyframes asMoveFromLeft {
    from {
        visibility: hidden;
        transform: translateX(-50px);
    }

    to {
        visibility: visible;
    }
}

.buildfix-moveFromRight {
    animation-name: asMoveFromRight;
}

@keyframes asMoveFromRight {
    from {
        visibility: hidden;
        transform: translateX(50px);
    }

    to {
        visibility: visible;
    }
}

.buildfix-moveFromTop {
    animation-name: asMoveFromTop;
}

@keyframes asMoveFromTop {
    from {
        visibility: hidden;
        transform: translateY(-50px);
    }

    to {
        visibility: visible;
    }
}

.buildfix-moveFromBottom {
    animation-name: asMoveFromBottom;
}

@keyframes asMoveFromBottom {
    from {
        visibility: hidden;
        transform: translateY(50px);
    }

    to {
        visibility: visible;
    }
}

/* Blur Effect */

.buildfix-blurIn {
    animation-name: asBlurIn;
}

@keyframes asBlurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}

.buildfix-blurInLeft {
    animation-name: asBlurInLeft;
}

@keyframes asBlurInLeft {
    from {
        transform: translateX(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.buildfix-blurInRight {
    animation-name: asBlurInRight;
}

@keyframes asBlurInRight {
    from {
        transform: translateX(-50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.buildfix-blurInTop {
    animation-name: asBlurInTop;
}

@keyframes asBlurInTop {
    from {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

.buildfix-blurInBottom {
    animation-name: asBlurInBottom;
}

@keyframes asBlurInBottom {
    from {
        transform: translateY(-50px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Zoom Effect */
.buildfix-zoomIn {
    animation-name: asZoomIn;
}

@keyframes asZoomIn {
    from {
        transform: scale(5);
        opacity: 0;
    }
}

.buildfix-zoomInLeft {
    animation-name: asZoomInLeft;
}

@keyframes asZoomInLeft {
    from {
        transform: scale(5) translateX(-50%);
        opacity: 0;
    }
}

.buildfix-zoomInRight {
    animation-name: asZoomInRight;
}

@keyframes asZoomInRight {
    from {
        transform: scale(5) translateX(50%);
        opacity: 0;
    }
}

.buildfix-zoomInTop {
    animation-name: asZoomInTop;
}

@keyframes asZoomInTop {
    from {
        transform: scale(10) translateY(-50%);
        opacity: 0;
    }
}

.buildfix-zoomInBottom {
    animation-name: asZoomInBottom;
}

@keyframes asZoomInBottom {
    from {
        transform: scale(10) translateY(50%);
        opacity: 0;
    }
}

/* Flip Effect */
.buildfix-flipInTop {
    animation-name: asFlipInTop;
}

@keyframes asFlipInTop {
    from {
        transform: perspective(600px);
        opacity: 0;
    }

    30% {
        transform: perspective(600px) rotateX(180deg);
        transform-origin: 0 0;
        animation-timing-function: ease-out;
    }

    to {
        transform: perspective(600px);
    }
}

.buildfix-flipInBottom {
    animation-name: asFlipInBottom;
}

@keyframes asFlipInBottom {
    from {
        transform: perspective(600px);
        opacity: 0;
    }

    30% {
        transform: perspective(600px) rotateX(180deg);
        transform-origin: bottom;
        animation-timing-function: ease-out;
    }

    to {
        transform: perspective(600px);
    }
}

/* Roll Effect */
.buildfix-rollFromLeft {
    animation-name: asRollFromLeft;
}

@keyframes asRollFromLeft {
    from {
        transform: translateX(-60px) perspective(600px) rotateY(180deg);
        opacity: 0;
    }
}

.buildfix-rollFromRight {
    animation-name: asRollFromRight;
}

@keyframes asRollFromRight {
    from {
        transform: translateX(60px) perspective(600px) rotateY(-180deg);
        opacity: 0;
    }
}

.buildfix-rollFromTop {
    animation-name: asRollFromTop;
}

@keyframes asRollFromTop {
    from {
        transform: translateY(-60px) perspective(600px) rotateX(180deg);
        opacity: 0;
    }
}

.buildfix-rollFromBottom {
    animation-name: asRollFromBottom;
}

@keyframes asRollFromBottom {
    from {
        transform: translateY(60px) perspective(600px) rotateX(-180deg);
        opacity: 0;
    }
}

/* Rotate Skate Effect */
.buildfix-rotateSkateInRight {
    animation-name: asRotateSkateInRight;
}

@keyframes asRotateSkateInRight {
    from {
        transform: scaleX(0.2) translateX(100px);
        opacity: 0;
    }
}

.buildfix-rotateSkateInLeft {
    animation-name: asRotateSkateInLeft;
}

@keyframes asRotateSkateInLeft {
    from {
        transform: scaleX(0.2) translateX(-100px);
        opacity: 0;
    }
}

.buildfix-rotateSkateInTop {
    animation-name: asRotateSkateInTop;
}

@keyframes asRotateSkateInTop {
    from {
        transform: scaleY(0.2) translateY(-100px);
        opacity: 0;
    }
}

.buildfix-rotateSkateInBottom {
    animation-name: asRotateSkateInBottom;
}

@keyframes asRotateSkateInBottom {
    from {
        transform: scaleY(0.2) translateY(100px);
        opacity: 0;
    }
}

/* PopUp Effect */
.buildfix-popUp {
    animation-name: asPopUp;
}

@keyframes asPopUp {
    0% {
        visibility: hidden;
    }

    50% {
        transform: scale(1.1);
        visibility: visible;
    }
}

.buildfix-popUpLeft {
    animation-name: asPopUpLeft;
}

@keyframes asPopUpLeft {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
        transform: translateX(-20px) scale(1.1);
        animation-timing-function: ease-in;
    }
}

.buildfix-popUpRight {
    animation-name: asPopUpRight;
}

@keyframes asPopUpRight {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
        transform: translateX(20px) scale(1.1);
        animation-timing-function: ease-in;
    }
}

/* Kenburns Top */

.swiper-slide-active .kenburns-top {
	-webkit-animation-name: kenburns-top;
	animation-name: kenburns-top;
}

@-webkit-keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}

	100% {
		-webkit-transform: scale(1.08) translateY(-15px);
		transform: scale(1.08) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}

@keyframes kenburns-top {
	0% {
		-webkit-transform: scale(1) translateY(0);
		transform: scale(1) translateY(0);
		-webkit-transform-origin: 50% 16%;
		transform-origin: 50% 16%;
	}

	100% {
		-webkit-transform: scale(1.08) translateY(-15px);
		transform: scale(1.08) translateY(-15px);
		-webkit-transform-origin: top;
		transform-origin: top;
	}
}


/* !END: Slider CSS */
