@use "../utilities" as *;

/**----------------------------------------
    START: Team CSS
----------------------------------------*/

.team-section{
    background-color: var(--cp-color-heading-primary);
}

.team-carousel-wrap{
    @include breakpoint(md){
        align-items: end;
    }
}

.team-item{
    align-items: end;
    .team-content{
        @include breakpoint(md){
            margin-bottom: 40px;
        }
        .title{
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .prof{
            font-family: var(--cp-ff-body);
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 70px;
            display: block;
        }
        .team-social{
            a{
                font-family: var(--cp-ff-body);
                font-size: 14px;
                font-weight: 500;
                border: 1px solid #3A3A3A;
                text-transform: uppercase;
                color: var(--cp-color-common-white);
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:nth-child(1){
                    width: 32px;
                    border-radius: 80px;
                }
                &:nth-child(2){
                    padding: 0 15px;
                    border-radius: 80px;
                }
                &:hover{
                    color: var(--cp-color-theme-primary);
                }
            }
        }
    }
    .team-img{
        max-width: 536px;
        width: 100%;
        height: 582px;
        margin-left: 35px;
        @include breakpoint(xl){
            max-width: 450px;
        }
        @include breakpoint(lg){
            max-width: 380px;
        }
        @include breakpoint(md){
            margin-left: 0;
            max-width: 550px;
        }
        @include breakpoint(sm){
            margin-left: 0;
            max-width: 550px;
            height: 350px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.team-thumb-wrap{
    @include flex-center;
}

.team-thumb-carousel{
    height: 582px;
    margin-left: auto;
    margin-right: 0;
    @include breakpoint(sm){
        margin: 0 auto;
        margin-top: 40px;
    }
    .team-thumb{
        height: 133px;
        max-width: 133px;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Team 2

.team-section-2{
    background-color: var(--cp-color-common-white);
}

.team-item-2{
    .team-content{
        .team-social{
            .icon{
                color: var(--cp-color-heading-primary);
            }
            .icon-text{
                color: var(--cp-color-heading-primary);
            }
        }
    }
}



// Team Inner

.team-inner-item{
    .team-img{
        height: 348px;
        margin-bottom: 24px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all 0.3s ease-in-out);
        }
    }
    .team-content{
        .title{
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        span{
            font-size: 14px;
            nav-down: 500;
            margin-bottom: 15px;
            display: block;
        }
        .team-social{
            a{
                font-family: var(--cp-ff-body);
                font-size: 14px;
                font-weight: 500;
                border: 1px solid #3A3A3A;
                text-transform: uppercase;
                color: var(--cp-color-heading-primary);
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:nth-child(1){
                    width: 32px;
                    border-radius: 80px;
                }
                &:nth-child(2){
                    padding: 0 15px;
                    border-radius: 80px;
                }
                &:hover{
                    color: var(--cp-color-theme-primary);
                }
            }
        }
    }
    &:hover{
        .team-img{
            img{
                transform: scale(1.02);
            }
        }
    }
}

.team-details-img{
    background-color: #F8F5F3;
    max-width: 580px;
    width: 100%;
    height: 620px;
    border-radius: 8px;
    @include breakpoint(sm){
        height: 450px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-details-content{
    max-width: 670px;
    width: 100%;
    @include breakpoint(md){
        margin-top: 50px;
    }
    p{
        font-size: 18px;
        @include breakpoint(sm){
            font-size: 15px;
        }
    }
    .name{
        font-size: 48px;
        font-weight: 600;
        @include breakpoint(sm){
            font-size: 38px;
        }
    }
    .prof{
        font-family: var(--cp-ff-heading);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        display: block;
    }
    .team-details-list{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid rgba(63, 63, 44, 0.1);
        list-style: none;
        li{
            font-family: var(--cp-ff-heading);
            color: var(--cp-color-heading-primary);
            font-size: 18px;
            font-weight: 500;
            @include breakpoint(sm){
                font-size: 14px;
            }
            &:not(:last-of-type){
                margin-bottom: 10px;
            }
            span{
                display: inline-block;
                &:nth-child(1){
                    width: 137px; 
                    @include breakpoint(sm){
                        width: 100px;
                    }
                }
                &:nth-child(2){
                    width: 65px; 
                    @include breakpoint(sm){
                        width: 30px;
                    }
                }
            }
        }
    }
    .team-portfolio{
        margin-top: 40px;
        margin-bottom: 40px;
        .port-title{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .team-portfolio-list{
            list-style: none;
            @include breakpoint(sm){
                @include flex-vertical-center;
                flex-wrap: wrap;
                row-gap: 10px;
            }
            li{
                display: inline-flex;
                align-items: center;
                &:not(:last-of-type){
                    margin-right: 10px;
                }
                a{
                    background-color: #F8F5F3;
                    font-family: var(--cp-ff-p);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    padding: 8px 20px;
                    border-radius: 100px;
                    border: 1px solid var(--cp-color-border-1);
                    &:hover{
                        background-color: var(--cp-color-heading-primary);
                        color: var(--cp-color-common-white);
                    }
                }
            }
        }
    }
    .team-details-info{
        &:not(:last-of-type){
            margin-bottom: 40px;
        }
        .info-title{
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        p{
            margin-bottom: 0;
        }
        .skills-items{
            margin-top: 35px;
            .skills-item{
                .title{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

.skills-item{
    overflow: hidden;
    &:not(:last-of-type){
        margin-bottom: 25px;
    }
    .title{
        color: var(--cp-color-heading-primary);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;
        @include breakpoint(sm){
            font-size: 18px;
        }
    }
    .progress{
        background-color: rgba(0, 153, 89, 0.2);
        height: 10px;
        overflow: visible;
        border-radius: 100px;
        .progress-bar{
            position: relative;
            background-color: var(--cp-color-theme-primary);
            overflow: visible;
            border-radius: 100px;
            span{
                font-size: 18px;
                font-weight: 700;
                background-repeat: no-repeat;
                color: var(--cp-color-theme-primary);
                padding: 10px 10px 20px 10px;
                position: absolute;
                top: -55px;
                right: -11px;
                @include breakpoint(sm){
                    font-size: 18px;
                    padding-top: 20px;
                    top: -60px;
                }
            }
        }
    }
}

/* !END: Team CSS */
