@use "../utilities" as *;

/**----------------------------------------
    START: Testi CSS
----------------------------------------*/

.testi-item{
    display: grid;
    grid-template-columns: 1fr 388px;
    grid-gap: 24px;
    
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .testi-content{
        background-color: #EDECE8;
        padding: 48px 44px;
        border-radius: 8px;
        @include breakpoint(xl){
            padding: 40px 20px;
        }
        .quote{
            margin-bottom: 24px;
        }
        p{
            color: var(--cp-color-heading-primary);
            font-size: 24px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 85px;
            @include breakpoint(xl){
                br{
                    display: none;
                }
            }
            @include breakpoint(lg){
                font-size: 18px;
            }
        }
        .testi-author{
            .name{
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p{
                color: var(--cp-color-heading-primary);
                font-size: 14px;
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }
    .testi-img{
        height: 100%;
        max-width: 388px;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }
}

.testi-right-content{
    @include flex-vertical-center;
    height: 100%;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    @include breakpoint(md){
        margin-top: 40px;
        flex-direction: inherit;
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .testi-counter{
        .title{
            font-size: 72px;
            font-weight: 500;
            line-height: 1;
            @include flex-vertical-center;
            .odometer-auto-theme{
                font-family: inherit;
                line-height: 1;
            }
        }
        p{
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;
            @include breakpoint(lg){
                br{
                    display: none;
                }
            }
        }
    }
    .testi-nav-wrap{
        .swiper-arrow{
            @include flex-vertical-center;
            column-gap: 8px;
            .swiper-nav{
                background-color: #E8E2DF;
                color: var(--cp-color-heading-primary);
                font-size: 20px;
                height: 56px;
                width: 56px;
                border-radius: 50%;
                @include flex-center;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    background-color: var(--cp-color-heading-primary);
                    color: var(--cp-color-common-white);
                }
            }
        }
    }
}

// Testi 2

.testi-carousel-2{
    .swiper-arrow{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        @include flex-vertical-center;
        column-gap: 10px;
        .swiper-nav{
            background-color: #E8E2DF;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            @include flex-center;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--cp-color-heading-primary);
                color: var(--cp-color-common-white);
            }
        }
    }
}

.testi-item-2{
    display: grid;
    align-items: center;
    grid-template-columns: 416px 1fr;
    grid-gap: 80px;
    @include breakpoint(lg){
        grid-gap: 30px;
    }
    @include breakpoint(md){
        margin-top: 40px;
    }
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    .testi-author-img{
        max-width: 416px;
        width: 100%;
        height: 400px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .testi-content{
        .icon{
            margin-bottom: 40px;
        }
        p{
            color: var(--cp-color-heading-primary);
            font-size: 28px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 100px;
            @include breakpoint(xl){
                font-size: 22px;
            }
            @include breakpoint(lg){
                font-size: 20px;
            }
        }
        .testi-author-box{
            .testi-author{
                .name{
                    font-family: var(--cp-ff-heading-2);
                    color: var(--cp-color-heading-primary);
                    font-size: 24px;
                    font-weight: 500;
                }
                span{
                    display: block;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}

// Testi 3

.testi-item-3{
    background-color: #F1EEE9;
    padding: 40px;
    border-radius: 8px;
    @include breakpoint(lg){
        padding: 40px 20px;
    }
    .icon{
        margin-bottom: 20px;
    }
    p{
        color: var(--cp-color-heading-primary);
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 120px;
        line-height: 1.5;
    }
    .testi-author{
        display: grid;
        align-items: center;
        grid-template-columns: 60px 1fr;
        grid-gap: 15px;
        .author-img{
            height: 60px;
            width: 60px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .content{
            .name{
                font-family: var(--cp-ff-heading-2);
                font-size: 24px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 10px;
            }
            span{
                font-size: 16px;
                font-weight: 500;
                display: block;
                line-height: 1;
            }
        }
    }
}

.testi-client-wrap{
    .testi-author-list{
        @include flex-vertical-center;
        li{
            height: 56px;
            width: 56px;
            @include flex-center;
            border-radius: 50%;
            border: 3px solid var(--cp-color-common-white);
            &:not(:first-of-type){
                margin-left: -20px;
            }
            &.icon{
                background-color: var(--cp-color-theme-primary);
                color: var(--cp-color-common-white);
            }
        }
    }
    p{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

/* !END: Testi CSS */
